@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">TwitterWeb Built using Tweetinvi.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Authenticate a User with Twitter</h2>
        <p>
            Application allow Twitter users to authenticate using URL redirection.
            This process uses 2 steps that can be found on the HomeController. The methods are <b>TwitterAuth</b> and <b>ValidateTwitterAuth</b>.
        </p>
        <p>
            After successful authentication this will Display the user Home timeline
        </p>
        <p><a class="btn btn-default" href="/Home/TwitterAuth">Try it &raquo;</a></p>
    </div>
   
</div>